@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@100;400;900&family=Sacramento&family=Ubuntu&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #1a1a1a;
}